#particles-js{
    background:url(imagenes/banner.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
}
.ancho-letras{
    top: 200px;
    position: absolute;
    width: 100%;
    /*background: rgba(0, 0, 0, .8);*/
    text-align: center;
    z-index: 1;
}
.letras-slider{
    width: 80%;
    margin: auto;
}
.letras-slider h1{
    color: #c2be44;
    font-family: rale;
    font-size: 60px;
}
.letras-slider p{
    color: #c2be44;
    font-size: 20px;
    font-family: rale;
    padding-top: 50px;
}

#logo{
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	width: 50px;
	height: 89px;
	background: url(../IMGS/logo.png) no-repeat center;
	display: block;
}